html,
body,
main {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

main {
  display: flex;
  flex-flow: row nowrap;
}

.CodeMirror {
  height: 50%;
}

.input__forms,
.result {
  width: 50%;
  height: 100%;
}

.result {
  border: none;
}
